body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a; /* dark blue */
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

video {
  width: 45%;
  border-radius: 10px;
  margin: 10px;
  background: black;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

